<li class="profile-post"> <!-- partial for individual videos rendered on profile -->
    <video class="profile-video" controls>
        <source src="/{{this.video}}" type="video/mp4">
    </video>
    <div class="profile-post-controls">
        <h4><a href="/posts/{{this.id}}">{{this.title}}</a></h4>
        <p>{{this.createdAt}}</p>
        <form class="delete-post" method="post" action="/posts/delete/{{this.id}}">
            <button type="submit" class="delete-post-button" value="DELETE">Delete Video</button>
        </form>
    </div>
</li>