<!DOCTYPE html>
<html lang="en">
    <body>

        <main>
            <!-- View Posts UI -->
            <div id="view-posts-ui">
                <div id="video-section">
                    <h4 id="post-title">{{currentPost.title}}</h4>

                    <video controls class="video-container">
                        <source src="/{{currentPost.video}}" type="video/mp4">
                    </video>

                    <h5 id="post-author">Posted by: {{currentPost.username}}</h5>
                    <p id="post-date">Uploaded on: {{formatDateString currentPost.createdAt}}</p>
                    <p id="post-desc">Description: {{currentPost.description}}</p>
                </div>

                <!-- Comment Section -->
                <div id="comment-section">
                    <div id="comment-box">
                        <textarea id="comment-text"></textarea>
                        <input type="button" id="comment-button" data-postid="{{currentPost.id}}" value="add comment"> </input> <!-- for the comments-->
                    </div>

                    {{#each currentPost.comments}}
                        {{>comment this}}
                    {{/each}}

                </div>
                <!-- Comment Section END -->

            </div>
            <!-- View Posts UI END-->
            <script>
                // Comment submission
                document.getElementById('comment-button').addEventListener('click', function (ev) {
                    let commentText = document.getElementById("comment-text").value;

                    if (!commentText) return

                    var postId = ev.currentTarget.dataset.postid;

                    fetch("/comments/create", {
                        method: "POST",
                        headers:{
                            "Content-Type":"application/json"
                        },
                        body: JSON.stringify({
                            postId: postId,
                            comment: commentText
                        })
                    }).then(response => response.json())
                            .then(data => {
                                console.log(data);
                                let commentSection = document.getElementById('comment-section');
                                let commentFragment = document.createElement('template');
                                console.log(data.username)
                                //renders comment after it is submitted
                                commentFragment.innerHTML =
                                    `<div class ="comment">
                                        <p class="comment-author">User: ${data.username}</p>
                                        <p class ="comment-date">Posted on: ${(new Date()).toLocaleString("en-us", {dateStyle: "long", timeStyle:"medium"})}</p>
                                        <p class="comment-content">${data.comment}</p>
                                    </div>`;
                                commentSection.append(commentFragment.content);
                            });
                });

            </script>
        </main>

    </body>
</html>