<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ViewPost | WebApp</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <main>
        <!-- View Posts UI -->
        <div id="view-posts-ui">
            <h4 id="post-title">{{currentPost.title}}</h4>

            <video controls class="video-container">
                <source src="/{{currentPost.video}}" type="video/mp4">
            </video>

            <h5 id="post-author">Posted by: {{currentPost.username}}</h5>
            <p id="post-date">{{formatDateString currentPost.createdAt}}</p>
            <p id="post-desc">Description: {{currentPost.description}}</p>

            <!-- Comment Section -->
            <div id="comment-section">
                <div id="comment-box">
                    <textarea></textarea>
                </div>
                {{#each currentPost.comments}}


                {{/each}}
<!--                <p class="commenter">Placeholder commenter name</p>-->
<!--                <p class="comment">placeholder comment</p>-->

            </div>
            <!-- Comment Section END -->

        </div>
        <!-- View Posts UI END-->
    </main>

<!--    <div id="top-footer-image">-->
<!--        <img id="smoki" src="../images/smoki.png" alt="image of a smoke grenade with eyes and arms smiling while waving">-->
<!--    </div>-->
</body>
</html>